@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  min-width: 375px;
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    position: relative;
    min-width: 375px;
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
  }
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-size: 62.5%;
  font-family: 'Pretendard';
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
